<link rel="stylesheet" href="/static/css/fitness.css" />

<!--<h2><%= activities[0].activity_name %></h2>
<h2><%= activities[0].activity_duration %></h2>
<h2><%= activities[0].activity_date %></h2>-->
<div class="header">
  <h1>Fitness</h1>
</div>

<div class="fitness-container">
  <div class="left-container">
    <h3>Health Profile:</h3>
    <table>
      <tr>
        <td>Weight</td>
        <td><%= user[0].weight %></td>
      </tr>
      <tr>
        <td>Height</td>
        <td><%= user[0].height %></td>
      </tr>
      <tr>
        <td>Gender</td>
        <td><%= user[0].gender %></td>
      </tr>
      <tr>
        <td>Age</td>
        <td>
          <%= new Date().getFullYear() - user[0].dob.toString().slice(11,15) %>
        </td>
      </tr>
      <tr>
        <td>BMI</td>
        <td></td>
      </tr>
    </table>
  </div>

  <div class="right-container">
    <div class="right-container-header">
      <h3>Activities:</h3>

      <div class="col-md-12 text-center">
        <button
          type="button"
          class="btn btn-light"
          data-toggle="modal"
          data-target="#createActivity"
        >
          Log an Activity
        </button>
      </div>
    </div>

    <div
      class="modal fade"
      id="createActivity"
      tabindex="-1"
      role="dialog"
      aria-labelledby="createActivity"
      aria-hidden="true"
    >
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="createActivity">New Activity</h5>
            <button
              type="button"
              class="close"
              data-dismiss="modal"
              aria-label="Close"
            >
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <form
              id="add-activity"
              class="needs-validation"
              method="POST"
              action="/fitness"
              novalidate
            >
              <div class="form-row" style="margin-top: 15px">
                <div class="col">
                  <select
                    id="selectlist"
                    name="selectlist"
                    class="custom-select"
                    required
                  >
                    <option value="" selected disabled>Type</option>
                    <option value="Running">Running</option>
                    <option value="Cycling">Cycling</option>
                    <option value="Swimming">Swimming</option>
                    <option value="Sports">Sports</option>
                  </select>
                  <div class="invalid-feedback">
                    Please select an activity type.
                  </div>
                </div>
                <div class="col">
                  <input
                    id="date"
                    name="date"
                    type="text"
                    class="form-control"
                    placeholder="Activity Date"
                    onfocus="(this.type='date')"
                    required
                  />
                  <div class="invalid-feedback">Please provide a date.</div>
                </div>
              </div>
              <div class="form-row" style="margin-top: 15px">
                <div class="col">
                  <input
                    id="duration"
                    name="duration"
                    type="text"
                    class="form-control"
                    placeholder="Duration"
                    required
                  />
                  <div class="invalid-feedback">
                    Please provide a valid duration in minutes.
                  </div>
                </div>
              </div>
              <div class="modal-footer">
                <button
                  type="button"
                  class="btn btn-light"
                  data-dismiss="modal"
                >
                  Cancel
                </button>
                <button id="submit" class="btn btn-primary" type="submit">
                  Submit form
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>

    <table>
      <tr>
        <th>Activity name</th>
        <th>Activity duration</th>
        <th>Activity date</th>
      </tr>
      <% for (let i = 0; i < activities.length; i++) { %>
      <tr>
        <td><%= activities[i].activity_name%></td>
        <td><%= activities[i].activity_duration%> mins</td>
        <td><%= activities[i].activity_date.toString().slice(0,15)%></td>
      </tr>
      <% } %>
    </table>
  </div>
</div>

<script src="/static/js/fitness.js" defer></script>
